.crew {
  background: url("/asset/crew/background-crew-desktop.jpg") no-repeat center/cover;
  min-height: 100vh;
  padding: 4rem;
  color: #fff;
  display: flex;
  flex-direction: column;
}

h5 span {
  color: gray;
  margin-left: 2rem;
  margin-right: 2rem;
}

h5{
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.crew__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.crew__content img {
  height: 500px;
  object-fit: contain;
}

.crew__content h4 {
  font-family: "Bellefair", serif;
  font-size: 32px;
  opacity: 0.5;
  text-transform: uppercase;
}


.crew__content h2 {
  font-family: "Bellefair", serif;
  font-size: 56px;
  margin: 1rem 0;
  text-transform: uppercase;
}

.crew__content p {
  font-family: "Barlow", sans-serif;
  line-height: 1.8;
  max-width: 400px;
}

.crew__dots {
  margin-top: 2rem;
}

.crew__dots button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: none;
  margin-right: 1rem;
  background: #979797;
  cursor: pointer;
}

.crew__dots button.active {
  background: #fff;
}

@media (max-width:500px) {
 
.crew__content {
  flex-direction: column;
}

.crew__content img {
  width: 300px;
  object-fit: contain;
  margin-left: 2rem;
}

.crew__content h4 {
  font-size: 25px;
 text-align: center;
}


h5{
  font-size: 1rem;
  font-weight: 100;
}

.crew__content h2 {
  font-size: 25px;
  text-align: center;
}

.crew__content p {
  line-height: 1.6;
  max-width: 500px;
}

.crew__dots {
  margin-top: 3rem;
}

.crew__dots button {
margin-left: 2rem;
}
}